<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="Unit Tests">
			<directory>unit/PhpGedcom/</directory>
		</testsuite>
        <testsuite name="Functional Tests">
            <directory>functional/PhpGedcom/</directory>
        </testsuite>
	</testsuites>
</phpunit>
